:root {
  --light: #ffffff;
  --dark-600: #2e2e2e;
  --dark-500: #414141;
  --gray: #777777;
  --primary-500: #ea6c00;
  --primary-400: #ff963c;
  --primary-300: #ffcc21;
  --secondary-300: #8fe9d0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Noto Sans CJK JP', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-header {
  display: flex;
  align-items: flex-end;
  /* padding: 2vh 0 0; */
  height: 7vh;
  background-color: var(--dark-600);
}

.App-logo {
  /* height: 40vmin; */
  height: 5vh;
  pointer-events: none;
}

.button-container {
  display: flex;
  justify-content: space-around;
  /* 2.56 = 1024 / (288 + 56 * 2) */
  height: 26vh;
}

.square-button {
  display: flex;
  height: 100%;
  position: relative;
  /* padding: 24px; */
  color: var(--primary-300);
}

.btn-bg {
  height: 100%;
  filter: grayscale(100%);
}

.btn-bg:hover {
  filter: grayscale(0);
}

.title-en {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* font-family: Inter; */
  font-size: 25px;
  font-weight: bold;
}

.title-ja {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  background-color: var(--primary-400);
  color: var(--light);
}

.my-exercise-list {
  column-count: 2;
}

.graph {
  background-color: var(--dark-500);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}