:root {
  --light: #ffffff;
  --dark-600: #2e2e2e;
  --dark-500: #414141;
  --gray: #777777;
  --primary-500: #ea6c00;
  --primary-400: #ff963c;
  --primary-300: #ffcc21;
  --secondary-300: #8fe9d0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Noto Sans CJK JP', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-header,
.app-footer {
  display: flex;
  /* align-items: flex-end; */
  align-items: center;
  justify-content: space-around;
  /* padding: 2vh 0 0; */
  height: 7vh;
  background-color: var(--dark-600);
}

.app-header__left {
  /* impl */
}

.app-header__middle {
  /* impl */
  display: flex;
  height: 2rem;
}

.app-header__right {
  /* impl */
}

.nav-label {
  /* display: block; */
  /* text-align: center; */
  /* min-height: 100px; */
  /* display: inline-flex; */
  /* align-items: center; */
  /* display: block; */
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* height: 200px; */
  height: 100%;
  white-space: normal;
  word-break: break-word;
  display: flex;
  align-items: center;
  color: var(--light);
  font-family: 'NotoSansCJKjp';
  font-size: 16px;
}

.App-logo {
  /* height: 40vmin; */
  height: 5vh;
  pointer-events: none;
}

.contents {
  padding: 0 10vw 0;
}

.ha-contents {
  margin: 56px 0 0;
}

.button-container {
  display: flex;
  justify-content: space-around;
  /* 2.56 = 1024 / (288 + 56 * 2) */
  height: 26vh;
}

.square-button {
  display: flex;
  height: 100%;
  width: 20vw;
  position: relative;
  /* padding: 24px; */
  border: 1.5rem solid var(--primary-300);
  color: var(--primary-300);
}

.photo-frame {
  overflow: hidden;
}

.btn-bg {
  height: 100%;
  filter: grayscale(100%);
}

.btn-bg:hover {
  filter: grayscale(0);
}

.title-en {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* font-family: Inter; */
  font-size: 25px;
  font-weight: bold;
}

.title-ja {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  background-color: var(--primary-400);
  color: var(--light);
}

.my-exercise {
  background-color: var(--dark-500);
  color: var(--light);
}

.exercise-header {
  display: flex;
}

.my-exercise-list {
  column-count: 2;
}

.exercise-date {
  font-size: 22px;
}

.exercise-title {
  width: 7vw;
  text-align: left;
  font-size: 15px;
  word-wrap: break-word;
}

.my-diary {
  background-color: var(--light);
  color: var(--dark-600);
}

.diary-title {
  width: 7vw;
  text-align: left;
  font-size: 15px;
  word-wrap: break-word;
}

.my-diary-list {
  column-count: 4;
}

.diary-header {
  display: flex;
}

.diary-item {
  /* width: 231px; */
  height: 231px;
  border: .1rem solid var(--dark-500);
}

.diary-date {
  font-size: 22px;
}

.diary-summary {
  /* width: 100%; */
  /* font-size: 22px; */
}

.diary-content {
  width: 100%;
  /* font-size: 22px; */
}

.exercise-duration,
.exercise-calory {
  color: var(--primary-300);
}

.graph {
  background-color: var(--dark-500);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}